# Default volume type to use (string value)
default_volume_type=lvm
enabled_backends=lvm,customer1,customer2,customer3
[lvm]
volume_driver=cinder.volume.drivers.lvm.LVMISCSIDriver
iscsi_ip_address=10.0.41.19
iscsi_protocol = iscsi
volume_group = cinder-volumes
iscsi_helper=lioadm
volumes_dir=/var/lib/cinder/volumes
[customer1]
volume_backend_name=customer1
volume_driver=cinder.volume.drivers.netapp.common.NetAppDriver
netapp_server_hostname = 10.0.0.21
netapp_server_port = 80
netapp_storage_protocol = iscsi
netapp_storage_family = ontap_7mode
netapp_login = root
netapp_password = 1234.com
netapp_volume_list = customer1
[customer2]
volume_backend_name=customer2
volume_driver=cinder.volume.drivers.netapp.common.NetAppDriver
netapp_server_hostname = 10.0.0.21
netapp_server_port = 80
netapp_storage_protocol = iscsi
netapp_storage_family = ontap_7mode
netapp_login = root
netapp_password = 1234.com
netapp_volume_list = customer2
[customer3]
volume_backend_name=customer3
volume_driver=cinder.volume.drivers.netapp.common.NetAppDriver
netapp_server_hostname = 10.0.0.21
netapp_server_port = 80
netapp_storage_protocol = iscsi
netapp_storage_family = ontap_7mode
netapp_login = root
netapp_password = 1234.com
netapp_volume_list = customer3
#[nfscustomer1]
#volume_backend_name=nfscustomer1
#volume_driver=cinder.volume.drivers.netapp.common.NetAppDriver
#netapp_server_hostname = 10.0.0.21
#netapp_transport_type = http
#netapp_server_port = 80
#netapp_storage_protocol = nfs
#netapp_storage_family = ontap_7mode
#netapp_login = openstack
#netapp_password = openstack1
#nfs_shares_config = /etc/cinder/shares.conf

